fieldset{
    width: 80%;
}
body{
    background-color: rgb(18,18,57);
    color: white;
}

table{
    border-color: white;

}
td{
    padding: 8px 16px;
}
thead,tr,th{
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(164, 246,10);
}
tr{
background-color: rgb(165, 233, 255);
color: black;
text-align: left;
}
input{
    font-size: 16px;
}

#delete{
    background-color: grey;
    font-size: 14px;
    font-weight: bold;
}